.biography {
	background-color: $accent;
	position: relative;

	&__body {
		padding: rem(164) 0;

		@media (max-width: $breakpoint1280){
			padding: rem(100) 0;
		}
		@media (max-width: $breakpoint375){
			padding: rem(46) 0;
		}
	}

	&__title {
		font-family: $extra;
		font-weight: 400;
		color: $secondary;
		max-width: rem(800);
		margin-bottom: rem(90);
		line-height: 1.3;
		@media (max-width: $breakpoint1280) {
			max-width: rem(700);
			margin-bottom: rem(34);
			line-height: 1.1;
		}
		@media (max-width: $breakpoint992) {
			font-size: 50px;
		}
		@media (max-width: $breakpoint428) {
			font-size: 40px;
			text-align: center;
		}
		@media (max-width: $breakpoint428) {
			font-size: 40px;
			text-align: center;
		}
	}

	&__text {
		font-size: 24px;
		// line-height: 1.5;
		color: $secondary;
		max-width: rem(600);

		@media (max-width: $breakpoint992) {
			font-size: 20px;
			max-width: rem(500);
		}
		@media (max-width: 631px) {
			padding-bottom: rem(150);
		}
		@media (max-width: $breakpoint375){
			padding-bottom: rem(200);
		}
	}

	&__bg{
		position: absolute;
		height: 998px;
		width: auto;
		bottom: 0;
		right: 0;
		z-index: 29;

		@media (max-width: $breakpoint1280) {
			height: 600px;
		}
		@media (max-width: $breakpoint992) {
			height: 380px;
		}
		@media (max-width: $breakpoint768) {
			height: 250px;
		}
	}	

	&__bg-img {
		height: 100%;
		width: auto;
	}

	::selection{
		background: #07565f;
	}
}





