/* raleway-regular - latin_cyrillic-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
       url('../fonts/raleway-v27-latin_cyrillic-ext-regular.woff2') format('woff2'),
       url('../fonts/raleway-v27-latin_cyrillic-ext-regular.woff') format('woff');
}

/* raleway-500 - latin_cyrillic-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(''),
       url('../fonts/raleway-v27-latin_cyrillic-ext-500.woff2') format('woff2'),
       url('../fonts/raleway-v27-latin_cyrillic-ext-500.woff') format('woff'); 
}

/* raleway-600 - latin_cyrillic-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local(''),
       url('../fonts/raleway-v27-latin_cyrillic-ext-600.woff2') format('woff2'), 
       url('../fonts/raleway-v27-latin_cyrillic-ext-600.woff') format('woff'); 
}

/* comforter-regular - latin_cyrillic */
@font-face {
  font-family: 'Comforter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
       url('../fonts/comforter-v5-latin_cyrillic-regular.woff2') format('woff2'),
       url('../fonts/comforter-v5-latin_cyrillic-regular.woff') format('woff');
}
